name: Pull Request

on: pull_request

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
            packages: write
        steps:
            -   uses: actions/checkout@v6
            -   uses: actions/setup-java@v5.2.0
                with:
                    java-version: 25
                    distribution: 'temurin'

            - name: Setup Gradle for a non-wrapper project
              uses: gradle/actions/setup-gradle@v5
              with:
                  gradle-version: wrapper
            - name: Bygg & test
              run: gradle test --continue --configuration-cache --stacktrace --info
